// colors
$colors: ('primary': #db9e3f,
    'info': #4b67af,
    'danger': #791a15,
    'blue': #4394e4,
    'white': #fff,
    'light': #f9f9f9,
    'grey': #999,
    'grey-1':#e7e7e7,
    'dark': #505050,
    'black': #000,
    'black-1': #2c3e50
);

$border-color: map-get($colors, 'grey-1');

// font size
$base-font-size: 1rem;
$font-sizes: (xxs: 10px,
    xs: 12px,
    sm: 15px,
    md: 18px,
    lg: 20px,
    xl: 25px,
);
$flex-jc: (start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
);
$flex-ai: (start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
);
// spacing
// 0-5: 0
// .mt-1  => margin top  .pb-2
$spacing-types: (m: margin,
    p: padding,
);
$spacing-directions: (t: top,
    r: right,
    b: bottom,
    l: left,
);
$spacing-base-size: 1rem;
$spacing-sizes: (0: 0px,
    1: 20px,
    2: 25px,
    3: 30px,
    4: 35px,
    5: 40px,
    6: 45px,
);